body {
  text-decoration: none;
  box-sizing: border-box;
  font-family: 'Signika', sans-serif !important;
}

body a:hover{
  text-decoration:none;
}

.header-color{
  background: #c31432;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #240b36, #c31432);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #240b36, #c31432); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}

.landing-grid{
  background: #c31432;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #240b36, #c31432);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #240b36, #c31432); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  background-size: cover;
  text-align: center;
 
  
  margin: -60px auto !important;
  width: 100vw;
  height: 100vh;
}

.avatar-img{
  height: 250px;
  padding-top: 5em;
  border-top-left-radius: 50%;
  border-bottom-right-radius: 50%;
  opacity: 0.8;
  transition: all .5;
  
}

.avatar-img:hover{
  transform: scale(.95);
}

.banner-text{
  background-color: #000;
  opacity: .8;
  width: 75%;
  margin: auto;
  border-radius: 10px;
  
}
.software_p{
  line-height:30px;
  font-size:16px;
}
.banner-text h1{
  font-size: 66px;
  font-weight: bold;
  color: white;
  text-align: center;
  font-family: 'Signika', sans-serif !important;
}

.banner-text hr {
 border-top:5px dotted white;
  width: 50%;
  margin: auto;
 
}

.banner-text p {
  color:white;
  font-size: 20px;
  padding: 1em;
  text-align: center;
}

.social-links{
  
  display: flex;
  justify-content: space-between;
  width: 50%;
  margin: auto;

}

.social-links i{
  color: white;
  font-size: 5em;
  padding: 8px; 
}

.projects-grid{
  display: flex;
}

.contact-body{
  margin: auto;
 
  width: 100%;
  height: 100%;
  justify-content: center;
  padding-top: 2em;
}

.contact-grid {
  text-align: center;
  justify-content: center;
  width: 80%;
  height: 550px;
  background: white;
  color: black;
  margin-bottom: 20px;
}

.contact-grid h2 {
  font-family: 'Signika', sans-serif !important;
}

.contact-grid p {
  font-family: 'Signika', sans-serif !important;
  font-weight: bold;
}


.contact-grid hr{
  border-top: 5px dotted black;
  width: 50%;
  margin: auto;

}


.contact-list i{
  font-size: 66px;
  display:inline !important;
  padding-left: 10px;
}

.resume-right-col{
  background: #27221f;
  color: #fff;
  padding:0em 2em;

}




@media(max-width:600px){


  
  .landing-grid{
    background: #c31432;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #240b36, #c31432);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #240b36, #c31432); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    background-size: cover;
    text-align: center;
   
   

    height: 579px !important;
    margin: 0px auto !important;

  }

  .avatar-img{
    height: 190px !important;
    padding-top: 5em;
    border-top-left-radius: 50%;
    border-bottom-right-radius: 50%;
    opacity: 0.9;
    transition: all .5;
    
  }

  .banner-text h1{
    font-size: 2rem !important;
    font-weight: 700 !important;
    color: white;
    text-align: center;
  }
  
  .banner-text hr {
   border-top:5px dotted white;
    width: 50%;
    margin: auto;
   
  }
  
  .banner-text p {
    color:white;
    font-size: 20px;
    padding: 1em;
    text-align: center;
  }
  
  .social-links{
    
    display: flex;
    justify-content: space-between;
    width: 50%;
    margin: auto;
  
  }
  
  .social-links i{
    color: white;
    font-size: 5em;
    padding: 8px; 
  }




  .contact-body{
    margin: auto;
   
    width: 100%;
    height: 100%;
    justify-content: center;
    padding-top: 2em;
  }
  
  
  .contact-list i{
    font-size: 23px !important;
  }

  .contact-list span{
    font-size: 16px !important;
  }


  .resume_h2{
    font-size:36px;
  }
  
  
}








































@media (max-width: 992px) {

    .landing-grid{
    
      top:-16px;
      left:0; 
      width: 100vw;
      height: 100%;
    }

    .avatar-img{
      height: 160px;
      padding-top: 6em;
      border-top-left-radius: 50%;
      border-bottom-right-radius: 50%;
      opacity: 0.8;
    }

    .banner-text{
      background-color: #000;
      opacity: .8;
      width: 95%;
      margin: auto;
      border-radius: 10px;
      
    }

    .banner-text h1{
      font-size: 33px;
      font-weight: bold;
      color: white;
      text-align: center;
    }

    .social-links i{
      color: white;
      font-size: 3em;
      padding: 7px; 
    }

    
 }


@media (min-width: 768px) {  }

@media (max-width: 1222px) { 

  .landing-grid{
    
    top:-16px;
    left:0; 
    width: 100vw;
    height: 100%;
  }

  .avatar-img{
    height: 160px;
    padding-top: 6em;
    border-top-left-radius: 50%;
    border-bottom-right-radius: 50%;
    opacity: 0.8;
  }

  .banner-text{
    background-color: #000;
    opacity: .8;
    width: 95%;
    margin: auto;
    border-radius: 10px;
    
  }

  .banner-text h1{
    font-size: 33px;
    font-weight: bold;
    color: white;
    text-align: center;
  }

  .social-links i{
    color: white;
    font-size: 3em;
    padding: 7px; 
  }
}